.container {
	font-family: '\5FAE\8F6F\96C5\9ED1';
	text-align: center;
}

body {
	margin: 0 auto;
	max-width: 40em;
	overflow-x: hidden;
}

blockquote {
	font: 14px/22px normal helvetica, sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-left: 3px solid #ccc;
	background-color: #f1f1f1
}

pre {
	box-sizing: border-box;
	overflow: auto;
	font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
	font-size: 13px;
	padding: 9.5px;
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 1.42857;
	color: #333333;
	word-break: break-all;
	word-wrap: break-word;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	background-color: #F5F5F5;
	white-space: pre-wrap;
 /*css-3*/
	white-space: -moz-pre-wrap;
 /*Mozilla,since1999*/
	white-space: -pre-wrap;
 /*Opera4-6*/
	white-space: -o-pre-wrap;
 /*Opera7*/
	word-wrap: break-word;
 /*InternetExplorer5.5+*/
}

.button-rounded {
	border-radius: 4px;
	color: #666;
	background-color: #EEE;
	border-color: #EEE;
	font-weight: 300;
	font-size: 16px;
	font-family: "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	height: 40px;
	padding: 0 40px;
	margin: 0;
	display: inline-block;
	appearance: none;
	cursor: pointer;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .3s;
	transition-duration: .3s
}

.button-rounded:hover,.button-rounded:focus {
	background-color: #f6f6f6;
	text-decoration: none;
	outline: 0
}